.header-content{
   display: flex;
   justify-content: center;
   align-items: center;

}
.navbar{
    width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
.navbar-brand{
    margin-left: 2em;
}
.user{
    margin-right: 2em;
}