<div class="sigup-content">

</div>
<h4 class="text-center">Registre-se qui!</h4>

<form [formGroup]="sigUp" class="form mt-4" (submit)="sigup()">
  <div class="col-6 d-grid gap-3">
    <div class="form-group">
      <input formControlName="email" placeholder="email" class="form-control" autofocus>
      <app-vmensagem *ngIf="email?.errors?.['required']" [texto]="'O email é obrigatório'"></app-vmensagem>
      <app-vmensagem *ngIf="email?.errors?.['email']" [texto]="'O email é inválido'"></app-vmensagem>

    </div>

    <div class="form-group">
      <input formControlName="fullName" placeholder="nome completo" class="form-control">
      <app-vmensagem *ngIf="fullName?.errors?.['required']" [texto]="'O nome completo é obrigatório'"></app-vmensagem>
      <app-vmensagem *ngIf="fullName?.errors?.['minlength']" [texto]="'o minimo de caracteres é 3'"></app-vmensagem>
      <app-vmensagem *ngIf="fullName?.errors?.['maxlength']" [texto]="'o maximo de caracteres é 40'"></app-vmensagem>

    </div>

    <div class="form-group">
      <input formControlName="userName" placeholder="nome do usuario" class="form-control">
      <app-vmensagem *ngIf="userName?.errors?.['required']" [texto]="'O nome do usuario é obrigatório'"></app-vmensagem>
      <app-vmensagem *ngIf="userName?.errors?.['minlength']" [texto]="'o minimo de caracteres é 3'"></app-vmensagem>
      <app-vmensagem *ngIf="userName?.errors?.['maxlength']" [texto]="'o maximo de caracteres é 30'"></app-vmensagem>
      <app-vmensagem *ngIf="userName?.errors?.['loweCase']" [texto]="'o usuario deve ter apenas letras minusculas '">
      </app-vmensagem>
      <app-vmensagem *ngIf="userName?.errors?.['userNameTaken']" [texto]="'O usuario já está sendo utilizado '" ></app-vmensagem>
        <small *ngIf="userName?.valid" class="text-success">Usuario valido</small>
    </div>

    <div class="form-group">
      <input formControlName="password" type="password" placeholder="senha" class="form-control">
      <app-vmensagem *ngIf="password?.errors?.['required']" [texto]="'A senha é obrigatória'"></app-vmensagem>
      <app-vmensagem *ngIf="password?.errors?.['minlength']" [texto]="'o minimo de caracteres é 1'"></app-vmensagem>
      <app-vmensagem *ngIf="password?.errors?.['maxlength']" [texto]="'o maximo de caracteres é 14'"></app-vmensagem>
    </div>

    <button [disabled]="sigUp.invalid || sigUp.pending" class="btn btn-primary btn-block">Registre-se</button>
    <p>ja tem usuario?<a [routerLink]="['']">Entre agora!</a></p>
  </div>
</form>